.container {
    width: 100%;
    background-color: black;
}
.gradient-bg {
    background: linear-gradient(180deg, #F37500 0%, #FFFFFF 100%) !important;
    border-radius: 10px;
}
.gradient-btn {
    background: linear-gradient(180deg, #F37500 0%, #FFFFFF 100%) !important;
}
.grey-bg {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 10px;
}

.nft-bg {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.black-bg {
    background-color: black;
}

.weapon-box-bg {
    background-color: #0F1118;

}

.weapon-bg {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.filter-bg {
  background: #0A0A0D;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.searchbar-bg {
  background: #FFF;
  border-radius: 20px;
}

.black-bg-20 {
  background-color: #000;
  border-radius: 20px;
}

.nft-top-bg {
    background-image: url('../assets/images/nft_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.nft-bottom-bg {
    background-image: url(../assets/images/weapon-bottom-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.teleport-bg {
    background: linear-gradient(180deg, #F37500 0%, rgba(0, 0, 0, 0.5) 22.92%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.center-in-parent {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}
.form-control {
  width: 76% !important;
  border: 0px solid rgb(0 0 0 / 0%);
  padding: 0%;
}
.clock-bg {
    background-image: url(../assets/images/clock_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 319px;
    width: 319px;
}

.select-bg {
  background: linear-gradient(180deg, #F37501 0%, #FFFFFF 100%) !important;
}
.form-select {
  color: #FFF;
}


@for $i from 0 through 1200 {
    .radius-#{$i} {
      border-radius: #{$i}px;
    }
    .font-size-#{$i} {
        font-size: #{$i}px;
    }
    .line-height-#{$i} {
        line-height: #{$i}px;
    }
    .padding-horizontal-#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    .padding-vertical-#{$i}{
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
    .min-height-#{$i} {
        min-height: #{$i}px;
    }
}

.modal-bg {
    background: rgba(248, 248, 249, 0.7);
    backdrop-filter: blur(16px);
    border-radius: 16px;
}
.purchase-modal-bg {
  background: #24252D;
/* Black/1 */

  border: 2px solid #2D2E36;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 0px !important;
}

.transparent-bg {
    background-color: transparent;
}

.btn-wrap-text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    background-color: white;
}

.css-187mznn-MuiSlider-root {
  color: #F37501 !important;
}

.modal-content{
  background-color: transparent !important;
}

.red-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  /* identical to box height, or 233% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #FF0000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 8px;
}
.white-bg {
  background-color: #fff !important;
}

.signup-page {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 3;
    .logo {
      .st0 {
        fill: black !important;
      }
    }
    .signup-nav {
      height: 56px;
      z-index: 3;
  
      .menus {
        width: 1552px;
      }
    }
  
    .signup-form {
      min-height: calc(100vh - 216px);
  
      .form-inner {
        // width: 760px;
        width: 520px;
  
        .content {
          z-index: 3;
  
          &.register-form {
            animation-delay: 600ms;
          }
  
          .input-section {
            .label {
              width: 300px;
            }
            .status-icon {
              width: 17px;
              height: 17px;
            }
  
            .viewPassword {
              width: 24px;
              height: 24px;
            }
  
            .continue-bottun {
              width: 88px;
              height: 88px;
              right: 0px;
              top: 0px;
              font-size: 8px;
  
              &.reCaptcha {
                top: 40px;
              }
            }
          }
  
          .message-block .case {
            height: 44px;
          }
          li:hover {
            box-shadow: 0 0 11px rgba(100, 100, 100, 0.4);
          }
        }
      }
    }
  
    .signup-footer {
      z-index: 3;
    }
  }

