
.noto-400 {
    font-family: 'Noto Sans KR', sans-serif;
}
.h-gradient {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    background: -webkit-linear-gradient(#F37500, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    color: #A9907A;
}

.p2 {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.text-black {
    color: black;
}

.text-connect {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #A9907A;
}

.nft-name {
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFA15C;
    /* Text shadow */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.text-black {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}

.price-text {
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    color: #FFA15C;
}

.clock-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #F37500;
    align-items: center;
    text-align: center;
}
.hour-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height, or 122% */
    letter-spacing: 0.05em;
    color: #F37500;
}
.nft-id-text {
    background: linear-gradient(180deg, #C09645 7.5%, #FFC977 53.75%, #C09645 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nft-power-text {
    background: linear-gradient(180deg, #45C067 7.5%, #77FF7C 53.75%, #45C067 100%);
    -webkit-background-clip: text;
    // background-clip: content-box;
    -webkit-text-fill-color: transparent;
  }

.heading-white-poppins {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    color: #FFFFFF;
}

.filter-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.option-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF !important;
    background-color: #000000;
}

.text-c4 {
    color: #c4c4c4;
}
.text-white {
    color: white;
}
.accordion-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.accordion-body {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.5);
}

.purchase-nft-body {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;
}